@model trangtin.Models.chude

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>chude</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tenchude)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tenchude)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.thutu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.thutu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.kichhoat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.kichhoat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.chuyenmuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.chuyenmuc.tenchuyenmuc)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.chudeid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
